# Google Calendar API - Service Account
# Créez un Service Account sur console.cloud.google.com
# Partagez vos calendriers avec l'email du service account
GOOGLE_SERVICE_ACCOUNT_EMAIL=your-service-account@your-project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_KEY_HERE\n-----END PRIVATE KEY-----"

# IDs des calendriers
CALENDAR_VOITURES=838ff1a719d507aa59685eed5011a81a77b8761d738e40327d78444f3a0e6559@group.calendar.google.com
CALENDAR_MOTOS=84be91c8a82faf3e87bdb4aba04c0d4ae03f0a485fb4a32abdc00ba69b4969c1@group.calendar.google.com
